[submodule "ui/Google-Text-To-Speech"]
	path = ui/Google-Text-To-Speech
	url = https://github.com/tinkerfuroc/Google-Text-To-Speech
[submodule "navigation"]
	path = navigation
	url = https://github.com/tinkerfuroc/navigation
